@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 14px;
}

a {
  color: #ffffff;
}

.bangkok-population-growth {
  background-color: #333333;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.container {
  width: 70%;
  color: #ffffff;
}

.header-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 26px;
}

.header-sub-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

.header-details {
  font-weight: 400;
  margin-bottom: 13px;
}

.select-container {
  margin: 50px 0;
}

.select-div {
  display: flex;
  align-items: center;
}

.select-flex {
  display: flex;
  justify-content: space-between;
}

.select-label {
  width: 50px;
}

.select-to {
  margin-left: 30px;
}

select {
  border: 3px solid #3083fb80;
  border-radius: 5px;
  padding: 5px;
}

.select-long {
  width: 250px;
}

.select-shot {
  width: 160px;
}

.link-infomation-container {
  margin-top: 40px;
}

.year-box {
  font-size: 8px;
  flex-basis: 50px;
}

.chart-box {
  flex-grow: 1;
  border-left: 2px solid white;
  border-right: 2px solid white;
  overflow: hidden;
}

.chart-percent {
  flex-grow: 1;
  font-size: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.chart-percent * {
  font-size: 8px;
}

.chart-container {
  display: flex;
  align-items: center;
}

.chart {
  height: 11px;
  background-color: #ed2e7c;
  margin-bottom: 4px;
}

.select-div-sub {
  display: flex;
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 95%;
  }

  .select-flex {
    flex-direction: column;
  }

  .select-long {
    width: 100%;
  }

  .select-div {
    margin-bottom: 15px;
  }

  .select-div-sub {
    display: flex;
    justify-content: space-between;
  }

  .select-shot {
    width: 30vw;
  }
}

@media only screen and (max-width: 600px) {
  .select-shot {
    width: 20vw;
  }
}
